In [17]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [3]:
url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=20220106'
res = req.get(url)

In [4]:
soup = bs(res.text, 'lxml')

In [12]:
title = soup.select("div.tit5 > a")

In [13]:
score = soup.select("td.point")

In [16]:
title_list = []
score_list = []
rank_list = []

for i in range(len(title)):
    title_list.append(title[i].text)
    score_list.append(score[i].text)
    rank_list.append(i+1)

In [19]:
dic = {'영화제목' : title_list, '평점' : score_list, '순위' : rank_list}

In [26]:
df = pd.DataFrame(dic)

In [27]:
df.set_index('순위',inplace = True)

In [33]:
df

### 한달동안의 영화데이터 수집

In [ ]:
1월 1일
20220101 ~ 20220106

In [50]:
title_list = []
score_list = []
rank_list = []
    
for i in range(20220101, 20220107):
    url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=' + str(i)

    res = req.get(url)

    soup = bs(res.text,'lxml')
    title = soup.select('div.tit5 > a')
    score = soup.select('td.point')
    
    for i in range(len(title)):
        title_list.append(title[i].text)
        score_list.append(score[i].text)
        rank_list.append(i+1)

In [37]:
dic = { '영화제목' : title_list, '평점' : score_list, '순위' : rank_list}

df = pd.DataFrame(dic)
df.set_index('순위', inplace = True)

In [38]:
df

                영화제목    평점
순위
1                 코다  9.24
2      스파이더맨: 노 웨이 홈  8.97
3            러브 액츄얼리  8.93
4               아멜리에  8.81
5           고양이를 부탁해  8.81
..               ...   ...
15             아웃레이지  7.84
16             유체이탈자  7.58
17           해피 뉴 이어  7.10
18  베놈 2: 렛 데어 비 카니지  6.11
19        매트릭스: 리저렉션  5.52

[110 rows x 2 columns]

###  Pandas 활용하여 날짜 생성

In [42]:
date = pd.date_range(start = "2021-01-01", end = "2021-03-31")

In [45]:
# 문자형 포맷팅

days = date.strftime('%Y%m%d')

In [56]:
from tqdm import tqdm_notebook

In [55]:
title_list = []
score_list = []
rank_list = []
day_list = []
    
for day in tqdm_notebook(days):
    url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=' + day

    res = req.get(url)

    soup = bs(res.text,'lxml')
    title = soup.select('div.tit5 > a')
    score = soup.select('td.point')
    
    for i in range(len(title)):
        title_list.append(title[i].text)
        score_list.append(score[i].text)
        rank_list.append(i+1)
        day_list.append(day)

In [59]:
dic = {'영화제목' : title_list, '평점' : score_list, '순위' : rank_list, '날짜' : day_list}

df = pd.DataFrame(dic)
df.set_index('순위', inplace = True)

In [61]:
df[df['날짜'] == '20210101']

                          영화제목    평점        날짜
순위
1                 가나의 혼인잔치: 언약  9.59  20210101
2                         언플랜드  9.52  20210101
3                극장판 바이올렛 에버가든  9.49  20210101
4                     부활: 그 증거  9.40  20210101
5                      소년시절의 너  9.39  20210101
6   페이트 스테이 나이트 헤븐즈필 III.스프링 송  9.26  20210101
7                       일 포스티노  9.16  20210101
8                      제리 맥과이어  9.16  20210101
9                      사랑의 블랙홀  9.15  20210101
10                        러브레터  9.12  20210101
11                 타오르는 여인의 초상  9.07  20210101
12                     글루미 선데이  9.06  20210101
13                  당신이 잠든 사이에  9.06  20210101
14                         노트북  9.05  20210101
15                      비긴 어게인  9.04  20210101
16                         굿바이  9.04  20210101
17            조제, 호랑이 그리고 물고기들  9.00  20210101
18                        윤희에게  8.98  20210101
19                     남매의 여름밤  8.96  20210101
20                     러브 액츄얼리  8.93  20210101
21                          담보  8.91  20210101
22               해리가 샐리를 만났을 때  8.89  20210101
23                        화양연화  8.80  20210101
24                  찬실이는 복도 많지  8.72  20210101
25                      귀여운 여인  8.70  20210101
26                         피아노  8.66  20210101
27                     캡틴 판타스틱  8.65  20210101
28                    퐁네프의 연인들  8.63  20210101
29                        라라랜드  8.61  20210101
30                         철도원  8.59  20210101
31                        아비정전  8.50  20210101
32                          레토  8.43  20210101
33                  삼진그룹 영어토익반  8.36  20210101
34                          테넷  8.20  20210101
35                           런  8.17  20210101
36                     하나와 앨리스  8.11  20210101
37                        일대종사  8.01  20210101
38                 존 윅 3: 파라벨룸  8.01  20210101
39                     아이 엠 러브  7.85  20210101
40                   펀치 드렁크 러브  7.72  20210101
41                      루비 스팍스  7.51  20210101
42                          도굴  7.36  20210101
43                        애비규환  7.02  20210101
44                    프리키 데스데이  6.84  20210101
45                          조제  6.65  20210101
46                        이웃사촌  5.98  20210101
47                  원더 우먼 1984  5.49  20210101
48                         800  3.60  20210101